
.dashboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.card {
  width: 200px;
  height: 200px;
  background-color: #54dfc3;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}
